name: Docs
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v5

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        working-directory: docs
        run: pip install --no-deps -r requirements.txt

      - name: Build site
        working-directory: docs
        run: mkdocs build --strict